.html { font-family: 'Open Sans', sans-serif; display: block; margin: 0px; padding: 0; text-align: center;color: #333333;}
.body{margin: 0 auto; padding: 0; width: 100%; max-width: 100%;}
.h1 {margin: 50px auto 30px;}
.side-by-side{display: inline-block;vertical-align: middle;position: relative;}
.humidity-icon{background-color: #3498db;width: 30px;height: 30px;border-radius: 50%;line-height: 36px;}
.humidity-text{font-weight: 600;padding-left: 15px;font-size: 19px;width: 160px;text-align: left;}
.humidity{font-weight: 300;font-size: 60px;color: #3498db;}
.temperature-icon{background-color: #f39c12;width: 30px;height: 30px;border-radius: 50%;line-height: 40px;}
.temperature-text{font-weight: 600;padding-left: 15px;font-size: 19px;width: 160px;text-align: left;}
.temperature{font-weight: 300;font-size: 60px;color: #f39c12;}
.superscript{font-size: 17px;font-weight: 600;position: absolute;right: -20px;top: 15px;}
.header{background-color: #49c9d7; color: #333; padding: 10px 0; display: flex; justify-content: space-between; align-items: center;}
.logo{float: left; margin-bottom: 15px; margin-left: 15px; margin-top: 15px;}
.buttons {margin-right: 20px;}
.button {padding: 5px 10px; background-color: #333; color: #fff; text-decoration: none; margin-left: 10px; border-radius: 5px;}
footer{bottom: 0; left: 0; width: 100%; margin: 0; padding: 10px 0; background-color: #1e905d; color: #ffffff; text-align: center;}
.data{padding: 10px; background-color: #c3e6cb;}
.man-content{padding: 10px; background-color: #c3e6cb;}
.language-button {position: absolute; top: 10px; right: 10px;}
@media only screen and (max-width: 600px) {body {margin: 0; padding-bottom: 60px;} h1 {margin-top: 70px;}}
@media only screen and (max-width: 480px) {body {margin: 0; padding-bottom: 60px;} h1 {margin-top: 70px;}}